<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widt h=device-width , initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/forgot_password.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Baloo+Bhaina+2" rel="stylesheet">
    <title>Forgot password</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="/" class="header_logo">
                        <div class="header_logo_img"></div>
                        <div class="header_logo_title">BIL</div>
                    </a>
                </div>
                <div class="col-lg-9 ml-auto">
                    <nav class="header_nav">
                        <ul class="nav">
                            <li class="nav_item"><a href="#" class="nav_link">About</a>
                                <ul class="submenu">
                                    <li class="submenu_item"><a href="#" class="nav_link">History</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Staff</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                </ul>
                            </li>
                            <li class="nav_item"><a href="#" class="nav_link">Students</a></li>
                            <li class="nav_item"><a href="#" class="nav_link">Events</a></li>
                            <li class="nav_item"><a href="#" class="nav_link">Enrollment</a></li>
                            <li class="nav_item"><a href="#" class="nav_link">Search</a></li>
                            <li class="nav_item">
                                <a class="LR_link" href="/login"><img class="LR_img" src="../../assets/images/LR/login.png" alt="Login"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <a href="/login" class="back"></a>
    <div class="forgot_password">
        <form name="my_form" action="../../assets/script/FP.js" class="box" method="GET">
            <div id="FP_header" class="FP_header">
                Enter email
            </div>
            <div class="content">
                <div id="email_content" class="email_content">
                    <input class="email_input" name="email" type="text" placeholder="Email">
                </div>
                <div id="code_content" class="code_content">
                    <input class="code_input" name="code" type="text" placeholder="Code">
                </div>
                <div class="password_content" id="content_password">
                    Password
                </div>
            </div>
            <div class="FP_footer">
                <button id="submit_btn" class="submit_btn" type="button" name="submit" value="Click" onClick="testResults(this.form)">Submit</button>
            </div>
        </form>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer_left">
                        <div class="footer_logo">

                        </div>
                        <div class="footer_title">
                            BIL
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_subtitle">
                        Contacts
                    </div>
                    <div class="footer_item">
                        <div class="footer_phone_mail">
                            <div class="footer_phone">
                                <div class="footer_phone_logo"></div>
                                <div class="footer_phone_text">(7212)37-11-02</div>
                            </div>
                            <div class="footer_mail">
                                <div class="footer_mail_logo"></div>
                                <div class="footer_mail_text">kktl@mail.ru </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_subtitle">
                        Location
                    </div>
                    <div class="footer_item">
                        <div class="footer_location">
                            <a href="https://www.google.kz/maps/place/%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D0%BA%D0%BE-%D0%A2%D1%83%D1%80%D0%B5%D1%86%D0%BA%D0%B8%D0%B9+%D0%BB%D0%B8%D1%86%D0%B5%D0%B9+%D0%B4%D0%BB%D1%8F+%D0%BC%D0%B0%D0%BB%D1%8C%D1%87%D0%B8%D0%BA%D0%BE%D0%B2/@49.8462011,73.200645,483m/data=!3m1!1e3!4m5!3m4!1s0x424348eaf0d3a153:0x553f8563fa7754dd!8m2!3d49.8465131!4d73.2013511" class="footer_location_logo">
                                <img class="footer_location_logo_img" src="../../assets/images/footer/map.png" alt="">
                            </a>
                            <div class="footer_location_text">Karagandy city, Aktyubenskay 1A</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_subtitle">
                        Social network
                    </div>
                    <div class="footer_item">
                        <div class="footer_social">
                            <div class="footer_social_item">
                                <a class="footer_social_link" href="https://www.youtube.com/channel/UCsO1yAKQjPL74NAR-8BoAUg">
                                    <img class="footer_social_img" src="../../assets/images/footer/youtube.png" alt="Youtube">
                                </a>
                                <a class="footer_social_link" href="https://t.me/karbil1">
                                    <img class="footer_social_img" src="../../assets/images/footer/telegram.png" alt="Telegram">
                                </a>
                            </div>
                            <div class="footer_social_item">
                                <a class="footer_social_link" href="https://twitter.com/karbilimschool">
                                    <img class="footer_social_img" src="../../assets/images/footer/twitter.png" alt="Twitter">
                                </a> 
                                <a class="footer_social_link" href="https://www.instagram.com/bil.karagandy/?igshid=16wwqltcneo7v">
                                    <img class="footer_social_img" src="../../assets/images/footer/instagram.png" alt="Instagram">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer_footer">
                    Bilim-innovation lyceum
                </div>
            </div>
        </div>
    </footer>
    <script src="../assets/script/FP.js"></script>
</body>
</html>