<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/register_parents.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Baloo+Bhaina+2" rel="stylesheet">
    <title>Parents registration</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="/" class="header_logo">
                        <div class="header_logo_img"></div>
                        <div class="header_logo_title">BIL</div>
                    </a>
                </div>
                <div class="col-lg-9 ml-auto">
                    <nav class="header_nav">
                        <ul class="nav">
                            <li class="nav_item"><a href="#" class="nav_link">About</a>
                                <ul class="submenu">
                                    <li class="submenu_item"><a href="#" class="nav_link">History</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Staff</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                </ul>
                            </li>
                            <li class="nav_item"><a href="#" class="nav_link">Students</a></li>
                            <li class="nav_item"><a href="#" class="nav_link">Events</a></li>
                            <li class="nav_item"><a href="#" class="nav_link">Enrollment</a></li>
                            <li class="nav_item"><a href="#" class="nav_link">Search</a></li>
                            <li class="nav_item">
                                <a class="LR_link" href="/login"><img class="LR_img" src="../../assets/images/LR/login.png" alt="Login"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <a href="/register" class="back"></a>
    <section class="register">
        <div class="container">
            <div class="row">
                <div class="content">
                    <form action="student.php">
                        <div class="block">
                            <div class="login_header">Parents registration</div>
                            <div class="subtitle">
                                <div class="sub_num">
                                    1
                                </div>
                                <div class="sub_text">Personal data</div>
                            </div>
                            <div class="data">
                                <div class="name">
                                    <div class="name_title">Full name</div>
                                    <div class="name_item">
                                        <div class="name_input">
                                            <div class="name_inputs_label">
                                                <label>Last name:</label>
                                                <label>First name:</label>
                                                <label>Middle name:</label>
                                            </div>
                                            <div class="name_input_inputs">
                                                <input type="text" name="last_name" placeholder="Last name" required>
                                                <input type="text" name="first_name" placeholder="First name" required>
                                                <input type="text" name="middle_name" placeholder="Middle name" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="date_b">
                                    <div class="date_title">Date of birth</div>
                                    <input type="date" name="dob" min="1900-01-01">
                                </div>
                                <div class="gender">
                                    <div class="gender_title">Gender</div>
                                    <div class="gender_item">
                                        <label><input type="radio" name="gender" value="1" required> Male</label>
                                        <label><input type="radio" name="gender" value="0" required> Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="subtitle">
                                <div class="sub_num">
                                    2
                                </div>
                                <div class="sub_text">Your son</div>
                            </div>
                            <div class="data">
                                <div class="iin">
                                    <div class="iin_title">Enter your son's INN</div>
                                    <div class="iin_item">
                                        <label>IIN: <input type="IIN" name="IIN" placeholder="Individual indentification number" required></label>
                                    </div>
                                </div>
                                <div class="parent_type">
                                    <div class="type_title">Who you are to your son</div>
                                    <div class="sel_parent_type">
                                        <label><input type="radio" name="parent_type" value="Mother" required>Mother</label>
                                        <label><input type="radio" name="parent_type" value="Father" required>Father</label>
                                        <label><input type="radio" name="parent_type" value="Mother" required>Stepmother</label>
                                        <label><input type="radio" name="parent_type" value="Father" required>Stepfather</label>
                                        <label><input type="radio" name="parent_type" value="Guardian" required>Guardian</label>
                                    </div>
                                </div>
                            </div>
                            <div class="subtitle">
                                <div class="sub_num">
                                    3
                                </div>
                                <div class="sub_text">Security</div>
                            </div>
                            <div class="data">
                                <div class="email">
                                    <div class="email_title">Enter your mail</div>
                                    <div class="email_item">
                                        <label>Email: <input type="email" name="email" placeholder="email" required></label>
                                    </div>
                                </div>
                                <div class="phone">
                                    <div class="phone_title">Enter your phone</div>
                                    <div class="phone_item">
                                        <label>+7<input type="text" name="phone" pattern="[0-9]{10}" title="<?php echo $lang['reg_phone_hint']; ?>" minlength="10" maxlength="10" placeholder="(xxx)-xxx-xx-xx" required></label>
                                    </div>
                                </div>
                                <div class="login">
                                    <div class="login_title">Create login<span class="login_hint">(Login may consist: A-Z, a-z, 0-9)</span></div>
                                    <div class="login_item">
                                        <label>Login:<input type="text" name="username" title="<?php echo $lang['reg_login_hint']; ?>" minlength="6" maxlength="100" placeholder="Login" required></label>
                                    </div>
                                </div>
                                <div class="password">
                                    <div class="password_title">Create password<span class="password_hint">(Password must consist: A-Z, a-z, 0-9)</span></div>
                                    <div class="password_item">
                                        <div class="password_input">
                                            <div class="password_input_label">
                                                <label class="pass">Password:</label>
                                                <label class="repass">Repeat Password:</label>
                                            </div>
                                            <div class="password_input_inputs">
                                                <input type="password" name="pass" id ="pass" title="<?php echo $lang['reg_pass_hint']; ?>" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,32}$" minlength="8" maxlength="32" placeholder="<?php echo $lang['reg_pass_ph']; ?>" required>
                                                <input type="password" name="pass_conf" id="pass_conf" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,32}$" minlength="8" maxlength="32" placeholder="<?php echo $lang['reg_pass_conf_ph']; ?>" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reg">
                                <button class="reg_btn" type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer_left">
                        <div class="footer_logo">

                        </div>
                        <div class="footer_title">
                            BIL
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_subtitle">
                        Contacts
                    </div>
                    <div class="footer_item">
                        <div class="footer_phone_mail">
                            <div class="footer_phone">
                                <div class="footer_phone_logo"></div>
                                <div class="footer_phone_text">(7212)37-11-02</div>
                            </div>
                            <div class="footer_mail">
                                <div class="footer_mail_logo"></div>
                                <div class="footer_mail_text">kktl@mail.ru </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_subtitle">
                        Location
                    </div>
                    <div class="footer_item">
                        <div class="footer_location">
                            <a href="https://www.google.kz/maps/place/%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D0%BA%D0%BE-%D0%A2%D1%83%D1%80%D0%B5%D1%86%D0%BA%D0%B8%D0%B9+%D0%BB%D0%B8%D1%86%D0%B5%D0%B9+%D0%B4%D0%BB%D1%8F+%D0%BC%D0%B0%D0%BB%D1%8C%D1%87%D0%B8%D0%BA%D0%BE%D0%B2/@49.8462011,73.200645,483m/data=!3m1!1e3!4m5!3m4!1s0x424348eaf0d3a153:0x553f8563fa7754dd!8m2!3d49.8465131!4d73.2013511" class="footer_location_logo">
                                <img class="footer_location_logo_img" src="../../assets/images/footer/map.png" alt="">
                            </a>
                            <div class="footer_location_text">Karagandy city, Aktyubenskay 1A</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_subtitle">
                        Social network
                    </div>
                    <div class="footer_item">
                        <div class="footer_social">
                            <div class="footer_social_item">
                                <a class="footer_social_link" href="https://www.youtube.com/channel/UCsO1yAKQjPL74NAR-8BoAUg">
                                    <img class="footer_social_img" src="../../assets/images/footer/youtube.png" alt="Youtube">
                                </a>
                                <a class="footer_social_link" href="https://t.me/karbil1">
                                    <img class="footer_social_img" src="../../assets/images/footer/telegram.png" alt="Telegram">
                                </a>
                            </div>
                            <div class="footer_social_item">
                                <a class="footer_social_link" href="https://twitter.com/karbilimschool">
                                    <img class="footer_social_img" src="../../assets/images/footer/twitter.png" alt="Twitter">
                                </a> 
                                <a class="footer_social_link" href="https://www.instagram.com/bil.karagandy/?igshid=16wwqltcneo7v">
                                    <img class="footer_social_img" src="../../assets/images/footer/instagram.png" alt="Instagram">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer_footer">
                    Bilim-innovation lyceum
                </div>
            </div>
        </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
</html>