<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/preloader.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Baloo+Bhaina+2" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="preloader" id="preloader">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </div>
    
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="/" class="header_logo">
                        <div class="header_logo_img"></div>
                        <div class="header_logo_title">BIL</div>
                    </a>
                </div>
                <div class="col-lg-9 ml-auto">
                    <nav class="header_nav">
                        <ul class="nav">
                            <li class="nav_item"><a href="#" class="nav_link">About</a>
                                <ul class="submenu">
                                    <li class="submenu_item"><a href="#" class="nav_link">History</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Staff</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                    <li class="submenu_item"><a href="#" class="nav_link">Contacts</a></li>
                                </ul>
                            </li>
                            <li class="nav_item"><a href="#" class="nav_link">Students</a></li>
                            <li class="nav_item"><a href="#" class="nav_link">Events</a></li>
                            <li class="nav_item"><a href="#" class="nav_link">Enrollment</a></li>
                            <li class="nav_item"><a href="#" class="nav_link">Search</a></li>
                            <li class="nav_item">
                                <a class="LR_link" href="/login"><img class="LR_img" src="../assets/images/LR/login.png" alt="Login"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="intro">
        <div class="intro_content">
            <div id="intro_title_1" class="intro_title_1">Welcome</div>
            <div id="intro_title_2" class="intro_title_2">Bilim-innovation lyceum</div>
        </div>
    </section>

    <svg class="history_top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#333" fill-opacity="1" d="M0,160L80,176C160,192,320,224,480,208C640,192,800,128,960,117.3C1120,107,1280,149,1360,170.7L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
    <section class="history">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="history_header"> History </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="history_img"></div>
                </div>
                <div class="col-lg-6">
                    <div class="history_content">
                        <div class="history_content_h">Bilim-innovation lyceum</div>
                        <div class="history_content_t">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quo quod voluptatibus! Iure, ut tempora libero, voluptates vitae dignissimos laborum unde qui voluptatibus eos, accusantium perspiciatis impedit nulla quas cumque?</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <svg class="history_bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#333" fill-opacity="1" d="M0,192L60,208C120,224,240,256,360,240C480,224,600,160,720,149.3C840,139,960,181,1080,192C1200,203,1320,181,1380,170.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>

    <section class="advantages">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="adv_header">
                        Advantages
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="slider">
                        <div class="slider__wrapper">
                            <div class="slider__item">
                                <div class="adv">
                                    <adv class="adv_num">1</adv>
                                    <div class="adv_content">
                                        <div class="adv_con_header">Awards</div>
                                        <div class="adv_con_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ab magnam quod porro accusantium maxime culpa rem provident error veniam. Fugiat id molestiae fugit rerum voluptates nisi</div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="adv">
                                    <adv class="adv_num">2</adv>
                                    <div class="adv_content">
                                        <div class="adv_con_header">Dormitory</div>
                                        <div class="adv_con_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ab magnam quod porro accusantium maxime culpa rem provident error veniam. Fugiat id molestiae fugit rerum voluptates nisi</div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="adv">
                                    <adv class="adv_num">3</adv>
                                    <div class="adv_content">
                                        <div class="adv_con_header">Made in KTL</div>
                                        <div class="adv_con_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ab magnam quod porro accusantium maxime culpa rem provident error veniam. Fugiat id molestiae fugit rerum voluptates nisi</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="slider__control slider__control_left" href="#" role="button"></a>
                        <a class="slider__control slider__control_right" href="#" role="button"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <svg class="opinion_top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#333333" fill-opacity="1" d="M0,192L60,165.3C120,139,240,85,360,85.3C480,85,600,139,720,165.3C840,192,960,192,1080,181.3C1200,171,1320,149,1380,138.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    <section class="opinion">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="op_header">Students opinion</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider2">
                        <div class="slider__wrapper2">
                            <div class="slider__item2">
                                <div class="op">
                                    <div class="col-lg-5">
                                        <div class="student_photo"></div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="student_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur amet quis sint quidem commodi et non dolorum dolores, ipsum accusantium illum possimus dignissimos aperiam molestiae soluta eos animi fugit nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error unde molestias optio maiores itaque ex dolorem quis sit harum corrupti, asperiores excepturi omnis nisi labore uptate expedita pariatur?</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="slider__control2 slider__control_left2" href="#" role="button"></a>
                        <a class="slider__control2 slider__control_right2" href="#" role="button"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <svg class="opinion_bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#333" fill-opacity="1" d="M0,160L120,176C240,192,480,224,720,224C960,224,1200,192,1320,176L1440,160L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>

    <section class="facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="facts_header">
                        Facts
                    </div>
                </div>
            </div>
            <div class="facts_content">
                <div class="facts_row">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="facts_item_num">
                                <div class="facts_item_content">980</div>
                                <div class="facts_item_header">Lorem ipsum</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="facts_item_num">
                                <div class="facts_item_content">45%</div>
                                <div class="facts_item_header">Lorem ipsum</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="facts_item_num">
                                <div class="facts_item_content">4</div>
                                <div class="facts_item_header">Lorem ipsum</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facts_row">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="facts_item_num">
                                <div class="facts_item_content">45%</div>
                                <div class="facts_item_header">Lorem ipsum</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="facts_item">
                                <div class="facts_item_text">
                                    <div class="facts_item_text_inner">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis pariatur
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="facts_item_num">
                                <div class="facts_item_content">12</div>
                                <div class="facts_item_header">Lorem ipsum</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facts_row">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="facts_item">
                                <div class="facts_item_text">
                                    <div class="facts_item_text_inner">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis pariatur
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="facts_item_num">
                                <div class="facts_item_content">45%</div>
                                <div class="facts_item_header">Lorem ipsum</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="facts_item_num">
                                <div class="facts_item_content">4</div>
                                <div class="facts_item_header">Lorem ipsum</div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>  
    </section>

    <!--
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="news_item">
                        <img src="" alt="" class="news_img">
                        <div class="news_title"></div>
                        <div class="news_title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id veritatis veniam inventore sed placeat. Autem quas deserunt maiores minima, qui tempora sit mollitia omnis ea nesciunt eveniet voluptatibus! Labore, rem.</div>
                        <div class="news_btn_content">
                            <a class="news_btn" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news_item">
                        <img src="" alt="" class="news_img">
                        <div class="news_title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci at molestias fugit libero eum praesentium soluta iure perspiciatis magni veniam non quidem nam, incidunt excepturi iusto rem culpa, voluptate quas.</div>
                        <div class="news_btn_content">
                            <a class="news_btn" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news_item">
                        <img src="" alt="" class="news_img">
                        <div class="news_title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta labore voluptatem fugit aspernatur harum fugiat nam fuga nemo quas natus temporibus, libero illo dolores ducimus illum eos voluptatibus iste omnis?</div>
                        <div class="news_btn_content">
                            <a class="news_btn" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->

    <svg class="footer_top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#333" fill-opacity="1" d="M0,160L80,176C160,192,320,224,480,208C640,192,800,128,960,117.3C1120,107,1280,149,1360,170.7L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer_left">
                        <div class="footer_logo">

                        </div>
                        <div class="footer_title">
                            BIL
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_subtitle">
                        Contacts
                    </div>
                    <div class="footer_item">
                        <div class="footer_phone_mail">
                            <div class="footer_phone">
                                <div class="footer_phone_logo"></div>
                                <div class="footer_phone_text">(7212)37-11-02</div>
                            </div>
                            <div class="footer_mail">
                                <div class="footer_mail_logo"></div>
                                <div class="footer_mail_text">kktl@mail.ru </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer_subtitle">
                        Location
                    </div>
                    <div class="footer_item">
                        <div class="footer_location">
                            <a href="https://www.google.kz/maps/place/%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D0%BA%D0%BE-%D0%A2%D1%83%D1%80%D0%B5%D1%86%D0%BA%D0%B8%D0%B9+%D0%BB%D0%B8%D1%86%D0%B5%D0%B9+%D0%B4%D0%BB%D1%8F+%D0%BC%D0%B0%D0%BB%D1%8C%D1%87%D0%B8%D0%BA%D0%BE%D0%B2/@49.8462011,73.200645,483m/data=!3m1!1e3!4m5!3m4!1s0x424348eaf0d3a153:0x553f8563fa7754dd!8m2!3d49.8465131!4d73.2013511" class="footer_location_logo">
                                <img class="footer_location_logo_img" src="../assets/images/footer/map.png" alt="">
                            </a>
                            <div class="footer_location_text">Karagandy, Aktyubenskay 1A</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_subtitle">
                        Social network
                    </div>
                    <div class="footer_item">
                        <div class="footer_social">
                            <div class="footer_social_item">
                                <a class="footer_social_link" href="https://www.youtube.com/channel/UCsO1yAKQjPL74NAR-8BoAUg">
                                    <img class="footer_social_img" src="../assets/images/footer/youtube.png" alt="Youtube">
                                </a>
                                <a class="footer_social_link" href="https://t.me/karbil1">
                                    <img class="footer_social_img" src="../assets/images/footer/telegram.png" alt="Telegram">
                                </a>
                            </div>
                            <div class="footer_social_item">
                                <a class="footer_social_link" href="https://twitter.com/karbilimschool">
                                    <img class="footer_social_img" src="../assets/images/footer/twitter.png" alt="Twitter">
                                </a> 
                                <a class="footer_social_link" href="https://www.instagram.com/bil.karagandy/?igshid=16wwqltcneo7v">
                                    <img class="footer_social_img" src="../assets/images/footer/instagram.png" alt="Instagram">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer_footer">
                    Bilim-innovation lyceum
                </div>
            </div>
        </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>  
    <script src="../assets/script/main.js"></script>
    <script src=../assets/script/slider.js></script>
    <script src=../assets/script/slider2.js></script>
</body>
</html>