<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/student_profile.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="profile_header_data">
                        <img src="../assets/images/user/user.png" alt="User" class="profile_header_photo"></img>
                        <div class="profile_header_name">
                            Nakyp Sanzhar Zhasulanuly
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ml-auto">
                    <div class="right_part">
                        <a class="edit_link" href="#">
                            <div class="edit_icon"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="education_box">
                        <div class="box_item">
                            <div class="box_subtitle">Graduation year:</div>
                            <div class="box_text">2015-2020</div>
                        </div>
                        <div class="box_item">
                            <div class="box_subtitle">Class:</div>
                            <div class="box_text">B</div>
                        </div>
                        <div class="box_item">
                            <div class="box_subtitle">Class teacher:</div>
                            <div class="box_text">Kuanysh Nurgazin</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="education_box">
                        <div class="box_item">
                            <div class="box_subtitle">Olympiad subject:</div>
                            <div class="box_text">Informatics</div>
                        </div>
                        <div class="box_item">
                            <div class="box_subtitle">Olympiad teacher:</div>
                            <div class="box_text">Nursultan Akhmetov</div>
                        </div>
                        <div class="box_item_num">
                            <div class="box_subtitle">Total achievments number:</div>
                            <div class="box_text">1000</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="education_box">
                        <div class="box_item">
                            <div class="box_subtitle">Clubs:</div>
                            <div class="box_text">Robotics, Basketball, Media club, Charity club</div>
                        </div>
                        <div class="box_item">
                            <div class="box_subtitle">Other:</div>
                            <div class="box_text">Karate, Dancing</div>
                        </div>
                        <div class="box_item_num">
                            <div class="box_subtitle">Total achievments number:</div>
                            <div class="box_text">1000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="add_ach">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="">
                        <div class="add_box">
                            <div class="row">
                                <div class="title">
                                    New achievments?
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="type">
                                        <button class="type_btn">Olympiad</button>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="type">
                                        <button class="type_btn">Clubs&Other</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="olympiad_form">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="o_f_box">
                                                    <div class="o_f_item">
                                                        <div class="o_f_subtitle">Subject:</div>
                                                        <select name="sel_subject" id="sel_subject">
                                                            <option value="IT">Informatics</option>
                                                        </select>
                                                    </div>
                                                    <div class="o_f_item">
                                                        <div class="o_f_subtitle">Scale:</div>
                                                        <select name="sel_scale" id="sel_scale">
                                                            <option value="Regional">Regional</option>
                                                        </select>
                                                    </div>
                                                    <div class="o_f_item">
                                                        <div class="o_f_subtitle">Olympiad:</div>
                                                        <select name="sel_o_name" id="sel_o_name">
                                                            <option value="rio">Regional informatics olympiad</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="o_f_box">
                                                    <div class="o_f_item">
                                                        <div class="o_f_subtitle">Year:</div>
                                                        <select name="sel_year" id="sel_year">
                                                            <option value="2020">2020</option>
                                                        </select>
                                                    </div>
                                                    <div class="o_f_item">
                                                        <div class="o_f_subtitle">Class:</div>
                                                        <select name="sel_class" id="sel_class">
                                                            <option value="11">11</option>
                                                        </select>
                                                    </div>
                                                    <div class="o_f_item">
                                                        <div class="o_f_subtitle">Location:</div>
                                                        <select name="sel_location" id="sel_locaton">
                                                            <option value="Karagandy">Karagandy</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="o_miss">
                                        <a class="o_miss_link" href="">
                                            Does something miss on the list?
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                other achievments
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="submit">
                                        <button type="submit" class="submit_btn">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="achievments">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="a_box">
                        <table class="table">
                            <tr>
                                <th>Full name</th>
                                <th>Year</th>
                                <th>Scale</th>
                                <th>Medal</th>
                                <th>Olympiad</th>
                                <th>Subject</th>
                                <th>Class</th>
                                <th>Location</th>
                            </tr>
                            <tr>
                                <td>Nakyp Sanzhar Zhasulanuly</td>
                                <td>2020</td>
                                <td>Regional</td>
                                <td>Silver</td>
                                <td>Regional informatics olympiad</td>
                                <td>Informatics</td>
                                <td>11</td>
                                <td>Karagandy</td>
                            </tr>
                            <tr>
                                <td>Nakyp Sanzhar Zhasulanuly</td>
                                <td>2020</td>
                                <td>Regional</td>
                                <td>Silver</td>
                                <td>Regional informatics olympiad</td>
                                <td>Informatics</td>
                                <td>11</td>
                                <td>Karagandy</td>
                            </tr>
                            <tr>
                                <td>Nakyp Sanzhar Zhasulanuly</td>
                                <td>2020</td>
                                <td>Regional</td>
                                <td>Silver</td>
                                <td>Regional informatics olympiad</td>
                                <td>Informatics</td>
                                <td>11</td>
                                <td>Karagandy</td>
                            </tr>
                            <tr>
                                <td>Nakyp Sanzhar Zhasulanuly</td>
                                <td>2020</td>
                                <td>Regional</td>
                                <td>Silver</td>
                                <td>Regional informatics olympiad</td>
                                <td>Informatics</td>
                                <td>11</td>
                                <td>Karagandy</td>
                            </tr>
                            <tr>
                                <td>Nakyp Sanzhar Zhasulanuly</td>
                                <td>2020</td>
                                <td>Regional</td>
                                <td>Silver</td>
                                <td>Regional informatics olympiad</td>
                                <td>Informatics</td>
                                <td>11</td>
                                <td>Karagandy</td>
                            </tr>
                            <tr>
                                <td>Nakyp Sanzhar Zhasulanuly</td>
                                <td>2020</td>
                                <td>Regional</td>
                                <td>Silver</td>
                                <td>Regional informatics olympiad</td>
                                <td>Informatics</td>
                                <td>11</td>
                                <td>Karagandy</td>
                            </tr>
                            <tr>
                                <td>Nakyp Sanzhar Zhasulanuly</td>
                                <td>2020</td>
                                <td>Regional</td>
                                <td>Silver</td>
                                <td>Regional informatics olympiad</td>
                                <td>Informatics</td>
                                <td>11</td>
                                <td>Karagandy</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>